@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700');

* {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
}

.container {
  width: 100%;
  position: relative;
}

.navigation {
  position: fixed;
  width: 300px;
  height: 100%;
  background: #003147;
  transition: 0.5s;
  overflow-x: hidden;
}

.navigation.active {
  width: 60px;
}

.navigation ul {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.navigation ul li {
  position: relative;
  width: 100%;
  list-style: none;

}

.navigation ul li:hover {
  background: #03a9f4;
}

.navigation ul li:nth-child(1) {
  margin-bottom: 20px;
}

.navigation ul li:nth-child(1):hover {
  background: transparent;
}

.navigation ul li a {
  display: block;
  width: 100%;
  display: flex;
  text-decoration: none;
  color: #fff;
}

.navigation ul li a .icon {
  display: block;
  min-width: 60px;
  height: 60px;
  line-height: 65px;
  text-align: center;
}

.navigation ul li a .icon .fa {
  color: #fff;
  font-size: 24px;
}

.navigation ul li a .title {
  display: block;
  padding: 0 10px;
  height: 60px;
  line-height: 60px;
  white-space: nowrap;
}

.main {
  position: absolute;
  width: calc(100% - 300px);
  left: 300px;
  min-height: 100vh;
  background: #f5f5f5;
  transition: 0.5s;
}

.main.active {
  width: calc(100% - 60px);
  left: 60px;
}

.main .topbar {
  width: 100%;
  background: #fff;
  height: 60px;
  padding-right: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main .topbar .toggle {
  position: relative;
  width: 60px;
  height: 60px;
  cursor: pointer;
}

.toggle::before {
  content: "\f0c9";
  font-family: fontAwesome;
  position: absolute;
  width: 100%;
  height: 100%;
  line-height: 60px;
  font-size: 24px;
  text-align: center;
  color: #111;
}

.search {
  width: 400px;
  margin-right: 10px;
}

.search label {
  width: 100%;
  position: relative;
}

.search label input {
  width: 100%;
  height: 40px;
  border-radius: 40px;
  padding: 5px 20px 5px 35px;
  outline: none;
  border: 1px solid rgba(0,0,0,0.2)
}

.search label .fa {
  position: absolute;
  left: 15px;
  top: 4px;
}

.user {
  position: relative;
  min-width: 50px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
  cursor: pointer;
}

.user img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card_box {
  width: 100%;
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(4,1fr);
  grid-gap: 20px;
}

.card_box .card {
  background: #fff;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}

.card_box .card .numbers {
  font-size: 2em;
  font-weight: 500;
}

.card_box .card .card_name {
  color: #999;
}

.card_box .card .icon_box {
  font-size: 2.5em;
  color: #03a9f4
}

.details {
  width: 100%;
  padding: 0 20px 20px;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-gap: 20px;
}

.details .recent_orders {
  min-height: 530px;
  background: #fff;
  padding: 20px;
}

.card_header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.card_header h2 {
  font-weight: 600;
}

.btn {
  padding: 5px 10px;
  background: #03a9f4;
  color: #fff;
  text-decoration: none;
  border-radius: 6px;
}

.details table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

.details table thead td {
  font-weight: 600;
}

.details .recent_orders table tbody tr {
  border-bottom: 1px solid rgba(0,0,0,0.1);
}

.details .recent_orders table tbody tr:last-child {
  border: none;
}

.details .recent_orders table tbody tr:hover {
  background: #03a9f4;
  color: #fff;
}

.details .recent_orders table tr td {
  padding: 9px 5px;
}

.details .recent_orders table tr td:last-child {
  text-align: right;
}

.details .recent_orders table tr td:nth-child(2) {
  text-align: right;
  padding-right: 20px;
}

.details .recent_orders table tr td:nth-child(3) {
  text-align: center;
}

.status {
  padding: 2px 4px;
  background: #f00;
  color: #fff;
  border-radius: 4px;
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 1px;
}

.delivered {
  background: #8de02c;
}

.pending {
  background: #f9ca3f;
}

.return {
  background: #f00;
}

.inprogress {
  background: #1795ce;
}

.details .recent_customers {
  min-height: 530px;
  background: #fff;
  padding: 20px;
}

.details .recent_customers .image_box {
  position: relative;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
}

.details .recent_customers .image_box img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.details .recent_customers table tr:hover,
.details .recent_customers table tr:hover td h4 span {
  background: #03a9f4;
  color: #fff;
}

.details .recent_customers table td {
  padding: 7px 10px;
}

.details .recent_customers table td h4 {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.2em;
}

.details .recent_customers table td h4 span {
  font-size: 14px;
  color: #999;
}

@media (max-width: 992px) {
  .navigation {
    left: -300px;
  }

  .navigation.active {
    left: 0;
    width: 300px;
  }

  .main {
    width: 100%;
    left: 0;
  }

  .main.active {
    width: calc(100% - 300px);
    left: 300px;
  }

  .card_box {
    grid-template-columns: repeat(2,1fr);
  }
}

@media (max-width: 768px) {
  .details {
    grid-template-columns: repeat(1,1fr);
  }

  .card_header h2 {
    font-size: 18px;
  }

  .status {
    white-space: nowrap;
    font-size: 12px;
  }
}

@media (max-width: 550px) {
  .card_box {
    grid-template-columns: repeat(1,1fr);
  }

  .details .recent_orders {
    overflow-x: auto;
  }

  .details .recent_orders table {
    width: 600px;
  }

  .navigation {
    width: 100%;
    left: -100%;
    z-index: 10;
  }

  .navigation.active {
    width: 100%;
    left: 0;
  }

  .toggle.active {
    position: fixed !important;
    z-index: 100;
    right: 0;
    left: initial;
  }

  .toggle.active::before {
    color: #fff
  }

  .main,
  .main.active {
    width: 100%;
    left: 0;
  }
}
