* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;

  --pimple-size: min(calc(100vh / 8), calc(100vw / 8));
  --border-size: calc( var(--pimple-size) / 30);
  --shadow-length: calc( var(--pimple-size) / 30);
  --shadow-offset: calc( var(--pimple-size) / 20);
}

html,
body {
  width: 100%;
  min-height: 100vh;
  display: grid;
  place-items: center;
  align-items: center;
}

.ring {
  width: var(--pimple-size);
  height: var(--pimple-size);
  position: relative;
  border-radius: 50%;
  border: var(--border-size) var(--theme) solid;
  box-shadow: var(--shadow-offset) var(--shadow-offset) var(--shadow-length) var(--theme-shadow-dark),
              calc(-1 * var(--shadow-offset)) calc(-1 * var(--shadow-offset)) var(--shadow-length) var(--theme-shadow-light),
              inset var(--shadow-offset) var(--shadow-offset) var(--shadow-length) var(--theme-shadow-dark),
              inset calc(-1 * var(--shadow-offset)) calc(-1 * var(--shadow-offset)) var(--shadow-length) var(--theme-shadow-light);
  display:grid;
  place-items: center;
}

button {
  --widht: calc(var(--pimple-size) - 6px);
  --height: var(--widht);
  --glare-offset: calc(var(--widht) / 3);
  -webkit-appearance: none;
  -moz-appearance: none;
  display:block;
  width: var(--widht);
  height: var(--widht);
  position: relative;
  border-radius: 50%;
  padding: 0;
  border: 0;
  -webkit-tap-highlight-color: transparent;
  background-image: radial-gradient(farthest-corner at var(--glare-offset) var(--glare-offset),  var(--theme-shadow-light) 15%, var(--theme) 50%, var(--theme) 100%);
}

button.active  {
  background-image: radial-gradient(circle, rgba(0,0,0,0.1) 0%, rgba(0,0,0,0.1) 100%), radial-gradient(farthest-corner at calc(2 * var(--glare-offset)) calc(2 * var(--glare-offset)),  var(--theme-shadow-light) 15%, var(--theme) 50%, var(--theme) 100%);
}

.row  {
  display: flex;
  flex-direction:row-reverse;
  gap: calc(2 * var(--shadow-length));
  background: var(--theme);
  padding: calc(2 * var(--shadow-length)) calc(6 * var(--shadow-length));
  border: 2px var(--theme) solid;
  box-shadow: var(--shadow-offset) var(--shadow-offset) var(--shadow-length) var(--theme-shadow-dark),
              calc(-1 * var(--shadow-offset)) calc(-1 * var(--shadow-offset)) var(--shadow-length) var(--theme-shadow-light),
              inset var(--shadow-offset) var(--shadow-offset) var(--shadow-length) var(--theme-shadow-dark),
              inset calc(-1 * var(--shadow-offset)) calc(-1 * var(--shadow-offset)) var(--shadow-length) var(--theme-shadow-light);
}

.row:first-child {
  border-top-left-radius: calc(var(--pimple-size) / 1.5);
  border-top-right-radius: calc(var(--pimple-size) / 1.5);
  padding: calc(6 * var(--shadow-length));
  padding-bottom: calc(2 * var(--shadow-length));
}

.row:last-child {
  border-bottom-left-radius: calc(var(--pimple-size) / 1.5);
  border-bottom-right-radius: calc(var(--pimple-size) / 1.5);
  padding: calc(6 * var(--shadow-length));
  padding-top: calc(2 * var(--shadow-length));
}

.popit {
  border-radius: calc(var(--pimple-size) / 1.5);
  overflow: hidden;
}

.row.orange {
  --theme: #f08d4b;
  --theme-shadow-dark: #cc7840;
  --theme-shadow-light: #ffa256;
}

.row.yellow {
  --theme: #f2da66;
  --theme-shadow-dark: #c4b153;
  --theme-shadow-light: #ffff79;
}

.row.lightblue {
  --theme: #a6e9fa;
  --theme-shadow-dark: #86bdcb;
  --theme-shadow-light: #c6ffff;
}

.row.mint {
  --theme: #7de9f0;
  --theme-shadow-dark: #65bdc2;
  --theme-shadow-light: #95ffff;
}

.row.blue {
  --theme: #60b8f0;
  --theme-shadow-dark: #4e95c2;
  --theme-shadow-light: #72dbff;
}

.row.purple {
  --theme: #a569fa;
  --theme-shadow-dark: #8655cb;
  --theme-shadow-light: #c47dff;
}
