body {
  font: 16px "Helvetica Neue", Helvetica, sans-serif;
  line-height: 1;
  color: #fff;
  background: #333;
}

h1 {
  margin: 0 0 30px;
}

button {
  border: 0;
}

button:not([tabindex="-1"]):active {
  background: bisque;
}

.wrapper {
  padding: 50px;
}

.block {
  margin-bottom: 30px;
}

.block__item {
  margin-bottom: 10px;
}

.block__title {
  width: 100%;
  text-align: left;
  font-size: 18px;
  background: transparent;
  color: #fff;
  padding: 10px;
  position: relative;
}

.block._init .block__title {
  cursor: pointer;
  padding: 10px 40px 10px 10px;
}

.block._init .block__title::before,
.block._init .block__title::after {
  content: "";
  width: 20px;
  height: 1px;
  background: #fff;
  position: absolute;
  right: 10px;
  top: 20px;
  transition: transform 0.3s ease 0s;
}

.block._init .block__title::after {
  transform: rotate(-90deg);
}

.block._init .block__title._active::after {
  transform: rotate(0deg);
}

.block__text {
  box-sizing: border-box;
  padding: 0 10px 10px;
  line-height: 1.3;
}

.block_1 .block__item {
  background: #77608d;
}

.block_2 .block__item {
  background: #794f45;
}

.block_3 .block__item {
  background: #7a956b;
}