* {
  padding: 0;
  margin: 0;
  font-family: -apple-system, sans-serif;
  box-sizing: border-box;
}

body {
  display: grid;
  place-items: center;
  height: 100vh;
}

.game {
  width: 600px;
  height: 300px;
  position: relative;
  overflow: hidden;
}

.score {
  position: absolute;
  font-size: 14px;
  top: 20px;
  right: 20px;
}

#gameOver {
  display: none;
  text-align: center;
  font-size: 45px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  color: #555;
}

#gameOver span {
  display: block;
  font-size: 20px;
  animation: blink 1s linear infinite;
}

#startOver {
  font-size: 40px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  color: #555;
  text-align: center;
  animation: blink 1s linear infinite;
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}

#road {
  height: 30px;
  width: 1200px;
  position: absolute;
  bottom: 0;
}

#road img {
  height: 30px;
  width: 2000px;
  position: absolute;
  left: 0;
  animation: none;
}

@keyframes roadAnimate {
  0% {
    left: 0;
  }

  100% {
    left: -600px;
  }
}

#cloud {
  height: 80px;
  width: 1200px;
  position: absolute;
  top: 40px;
}

#cloud img {
  height: 80px;
  width: 2000px;
  position: absolute;
  left: -2000px;
  animation: none;
}

@keyframes cloudAnimate {
  0% {
    left: -2000px;
  }

  100% {
    left: 100%;
  }
}

#dino {
  width: 50px;
  height: 50px;
  background-image: url("./images/dino.png");
  background-size: 50px 50px;
  position: absolute;
  bottom: 28px;
  left: 10px;
}

.jump {
  animation: jump 0.3s infinite linear;
}

@keyframes jump {
  0% {
    bottom: 28px;
  }

  30% {
    bottom: 80px;
  }

  50% {
    bottom: 120px;
  }

  80% {
    bottom: 80px;
  }

  100% {
    bottom: 28px;
  }
}

#cactus {
  width: 30px;
  height: 57px;
  position: absolute;
  bottom: 15px;
  left: 590px;
  background-image: url("./images/cactus.png");
  /* background-color: #555; */
  background-size: 30px 57px;
  background-repeat: no-repeat;
}

.cactusActive {
  animation: cactusAnimate 1.5s infinite linear;
}

@keyframes cactusAnimate {
  0% {
    left: 590px;
  }

  100% {
    left: -20px;
  }
}
