* {
  box-sizing: border-box;
}

body {
  background-color: #7ec3b0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 600px;
  flex-wrap: wrap;
}

.square {
  width: 30px;
  height: 30px;
  background: #86d6d5;
  margin: 2px;
  box-shadow: 0 0 2px #85cdca;
  transition: 2s ease;
}

.square:hover {
  transition-duration: 0s;
}